SUPABASE_URL=https://pinnrklqyuvrbitlahzj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpbm5ya2xxeXV2cmJpdGxhaHpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjM3MzcxNCwiZXhwIjoyMDg3OTQ5NzE0fQ.L1OIiPPBQ8RsCfj9yVhADVOLaYAUlNlnQnX1ht3C9n0
